/**
   全局公共颜色
 */
/**
表格公共颜色
 */
$table-bg-default: #ffffff;
$table-bg-accent: #f7f7f7;
$table-bg-hover: #dffdf6;

/**
全局按钮颜色
 */
$btn-default-bg: #f7f7f7;
$btn-default-color: #f7f7f7;
$btn-default-border: #f7f7f7;
$btn-primary-bg: #038ae3;
$btn-primary-color: #ffffff;
$btn-primary-border: transparent;
$btn-primary-hover-bg: #337ab7;
$btn-warning-bg: #f7f7f7;
$btn-warning-color: #f7f7f7;
$btn-warning-border: #f7f7f7;
$btn-danger-bg: #d7292a;
$btn-danger-color: #f7f7f7;
$btn-danger-border: #f7f7f7;
$btn-danger-hover-bg: #c61717;
$btn-link-color: #1d9ed7;
$btn-disabled-bg: #f7f7f7;
$btn-disabled-color: #f7f7f7;
$btn-disabled-border: #f7f7f7;
