.cb-switch{
  display: inline-block;
  vertical-align: top;
  width: 50px;
  label{
    position:relative;
    display: block;
    border-radius: 28px;
    height: 28px;
    margin-bottom: 0;
    background-color: #eee;
    cursor: pointer;
    vertical-align: top;
    -webkit-user-select: none;
  }
  label:before{
    content: '';
    display: block;
    border-radius: 28px;
    height: 28px;
    background-color: #ccc;
  }

  label:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -23px;
    width: 24px;
    height: 24px;
    border-radius: 22px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &.checkstatus{
    label:after{
      margin-left: -1px;
    }
    label:before{
      background-color:green;
    }
  }
  &[cb-switch='forbidden']{
    label{
      cursor: default;
    }
  }
}
