<div class="g-view">
    <div class="container-fluid">
        <h2>添加编辑商品</h2>
        <hr>
        <h3>基本信息</h3>
        <hr>
        <form class="form-horizontal f-cb" name="goods" role="form" novalidate>
          <div class="form-group" ng-if="vm.isChange">
            <label class="col-sm-2 control-label">商品编码：</label>
            <div class="col-sm-7">
              <p class="h4" ng-bind="vm.dataBase.id"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="goods_add_name" class="col-sm-2 control-label"><span class="text-danger">*</span> 商品名称：</label>
            <div class="col-sm-7">
              <input type="text" id="goods_add_name" class="form-control" ng-model="vm.dataBase.productname" placeholder="填写商品名称" cb-placeholder  ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 商品类目：</label>
            <div class="col-sm-7">
              <div class="row">
                <div class="col-sm-6">
                  <input type="hidden" name="hao" ng-required="true" ng-model="vm.selectModel.select">
                  <div simple-select config="vm.selectModel.config" store="vm.selectModel.store" select="vm.selectModel.select" select-pre-handler="vm.selectModel.handler(data)"></div>
                </div>
                <div class="col-sm-6">
                  <input type="hidden" name="hao2" ng-required="true" ng-model="vm.dataBase.cateid">
                  <div simple-select config="vm.selectModel2.config" store="vm.selectModel2.store" select="vm.selectModel2.select" select-pre-handler="vm.selectModel2.handler(data)"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 品牌：</label>
            <div class="col-sm-7">
              <div ng-if="!vm.isAttributesetLoad">
                <p class="h4">请先选择商品类目</p>
              </div>
              <div ng-if="vm.isAttributesetLoad">
                <input type="hidden" name="brand" ng-required="true" ng-model="vm.dataBase.brandid">
                <div simple-select config="vm.brandModel.config" store="vm.brandModel.store" select="vm.brandModel.select" select-pre-handler="vm.brandModel.handler(data)"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 上架状态：</label>
            <div class="col-sm-7">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" ng-model="vm.dataBase.status" value="0">
                  下架
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" ng-model="vm.dataBase.status" value="1">
                  上架
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 规格：</label>
            <div class="col-sm-7">
              <div ng-if="!vm.isAttributesetLoad">
                <p class="h4">请先选择商品类目</p>
              </div>
              <div class="row form-group" ng-repeat="item in vm.dataBase.$size" id="{{item.$$hashKey}}"  ng-if="vm.isAttributesetLoad">
                <div class="col-sm-5">
                  <div simple-select config="item.sku.$config" store="item.sku.$store" select="item.sku.select" select-pre-handler="item.sku.$handler(data)"></div>
                </div>
                <div class="col-sm-5">
                  <input type="hidden" name="{{item.$$hashKey}}" ng-required="true" ng-model="item.skuid.select">
                  <div simple-select config="item.skuid.$config" store="item.skuid.$store" select="item.skuid.select" select-pre-handler="item.skuid.$handler(data)"></div>
                </div>
                <div class="col-sm-2">
                  <button ng-click="vm.changeSize($index,item.sku.select, true)"  ng-if="vm.skuDataLength">+</button>

                  <button ng-click="vm.changeSize($index,item.sku.select, false)" ng-if="vm.dataBase.$size.length > 1">-</button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">官方指导价（￥）：</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="vm.dataBase.officialprice" name="officialprice" placeholder="" cb-money-range  placeholder="填写官方指导价" cb-placeholder>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 零售价（￥）：</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="vm.dataBase.saleprice" name="saleprice" placeholder="填写零售价" cb-money-range cb-placeholder  ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">零售单位：</label>
            <div class="col-sm-7">
              <p class="h4" ng-bind="vm.dataBase.$unit"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label"><span class="text-danger">*</span> 目前库存：</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="vm.dataBase.stock" name="stock" placeholder="" cb-number-range="" range-enabled="false" placeholder="填写目前商品库存" cb-placeholder ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">商品简介：</label>
            <div class="col-sm-7">
              <div text-editor="" editor="vm.dataBase.abstracts" data-max-length="30" data-filter=""></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">商品图片：</label>
            <div class="col-sm-7">
              <div class="col-md-3" ng-repeat="item in vm.dataBase.mainphoto track by $index" ng-if="vm.dataBase.mainphoto.length">
                <div>
                  <img ng-src="{{item}}" alt="">
                </div>
                <div>
                  <a target="_blank" ng-href="{{item}}">下载</a>
                  <button ng-click="vm.removePhotos($index)">删除</button>
                  <button cb-upload-file="images" title="店招图片上传" data-upload-type="storeCase"  upload-item="vm.uploadHandler(data)">重新上传</button>
                </div>
              </div>
              <div class="col-md-3" ng-if="!vm.dataBase.mainphoto.length">
                <div>
                  您还没有图片
                </div>
                <div>
                  <button cb-upload-file="images" title="商品图片上传" data-upload-type="storeCase"  upload-item="vm.uploadHandler(data)">商品图片上传</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <h3>适用车型</h3>
        <hr>
        <button>选择车型</button>
        <div class="text-center">
          <button type="button" class="btn btn-primary" ng-click="vm.submit()" ng-disabled="goods.$invalid">{{vm.isChange ? "修改" : "添加"}}</button>
        </div>
    </div>
</div>
