<div class="g-view">
  <div class="container-fluid">
    <h2>添加编辑商品</h2>
    <hr>
    <form class="form-horizontal" autocomplete="off" name="goods" role="form" novalidate ng-if="vm.isLoadData">
      <h3>基本信息</h3>
      <hr>
      <div class="form-group">
        <label class="col-lg-1 control-label"><span class="text-danger"><i class="icon-required"></i></span>类目：</label>
        <div class="col-lg-11">
          <div ng-if="!vm.isChange">
            <div class="row">
              <div class="col-lg-6">
                <input type="hidden" name="hao" ng-required="true" ng-model="vm.dataBase.pcateid1">
                <div simple-select="id,catename" store="vm.selectModel.store" select="vm.dataBase.pcateid1"
                     select-handler="vm.selectModel.handler(data)"></div>
              </div>
              <div class="col-lg-6">
                <input type="hidden" name="hao2" ng-required="true" ng-model="vm.dataBase.pcateid2">
                <div simple-select="id,catename" store="vm.selectModel2.store" select="vm.dataBase.pcateid2"
                     select-handler="vm.selectModel2.handler(data)"></div>
              </div>
            </div>
            <p class="text-warning" ng-if="!vm.dataBase.cateid">选择商品类目</p>
          </div>
          <p ng-if="vm.isChange" class="text-border"
             ng-bind="vm.dataBase.pcatename1 +' - '+ vm.dataBase.pcatename2"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-1 control-label">编码：</label>
        <div class="col-lg-11">
          <input type="text" id="goods_add_name" class="form-control" name="code" ng-model="vm.dataBase.code"
                 placeholder="请输入长度40字符以内的编码" cb-placeholder ng-maxlength="40">
          <div class="alert alert-danger" ng-if="goods.code.$dirty && goods.code.$error.maxlength">
            请输入长度40字符以内的编码
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="goods_add_name" class="col-lg-1 control-label"><span class="text-danger"><i
          class="icon-required"></i></span>名称：</label>
        <div class="col-lg-11">
          <div ng-if="!vm.isChange">
            <input type="text" id="goods_add_name" class="form-control" name="productname"
                   ng-model="vm.dataBase.productname" ng-maxlength="40" placeholder="请输入长度40字符以内的商品名称" cb-placeholder
                   ng-required="true">
            <div class="alert alert-danger" ng-if="goods.productname.$dirty && goods.productname.$error.maxlength">
              请输入长度为40以内的商品名称
            </div>
          </div>
          <p ng-if="vm.isChange" class="text-border" ng-bind="vm.dataBase.productname"></p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-1 control-label"><span class="text-danger"><i class="icon-required"></i></span>品牌：</label>
        <div class="col-lg-11">
          <div ng-if="!vm.isChange">
            <div ng-if="!vm.isAttributesetLoad">
              <p class="text-border text-border-warning">请先选择商品类目</p>
            </div>
            <div ng-if="vm.isAttributesetLoad">
              <input type="hidden" name="brand" ng-required="true" ng-model="vm.dataBase.brandid">
              <div simple-select="id,cnname" store="vm.brandModel.store" select="vm.dataBase.brandid"></div>
            </div>
          </div>
          <p class="text-warning" ng-if="!vm.isChange && !vm.dataBase.brandid">选择商品品牌</p>
          <p ng-if="vm.isChange" class="text-border" ng-bind="vm.dataBase.cnname"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-1 control-label">零售单位：</label>
        <div class="col-lg-11">
          <p class="text-border" ng-bind="vm.dataBase.$unit"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-1 control-label">卖点：</label>
        <div class="col-lg-11">
          <input type="text" id="goods_add_name" class="form-control" name="seodescription"
                 ng-model="vm.dataBase.seodescription"
                 ng-maxlength="20" placeholder="请输入长度20字符以内的商品卖点" cb-placeholder>
          <div class="alert alert-danger" ng-if="goods.seodescription.$dirty && goods.seodescription.$error.maxlength">
            请输入长度20字符以内的商品卖点
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-1 control-label"><span class="text-danger"><i class="icon-required"></i></span>属性：</label>
        <div class="col-lg-11">
          <div ng-if="!vm.isAttributesetLoad">
            <p class="text-border text-border-warning">请先选择商品类目</p>
          </div>
          <div ng-if="vm.isAttributesetLoad">
            <table class="table">
              <thead>
              <tr>
                <th style="min-width:150px;"><span class="text-danger"><i class="icon-required"></i></span>属性名称</th>
                <th><span class="text-danger"><i class="icon-required"></i></span>库存数量 <i tooltip="清空即为库存数量无限"
                                                                                          tooltip-append-to-body="true"
                                                                                          tooltip-placement="right"
                                                                                          tooltip-animation="false"
                                                                                          class="icon-question"></i>
                </th>
                <th><span class="text-danger"><i class="icon-required"></i></span>零售单价（元）</th>
                <th>条形码</th>
                <th>零件码</th>
                <th>适用车型</th>
                <th style="min-width:80px;">启用状态</th>
                <th style="min-width:200px;">描述</th>
                <th style="min-width:80px;">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in vm.dataBase.items" ng-form="list">
                <td>
                  <div class="text-border"><span class="state-unread" cb-truncate-text="{{item.$$skuname}}"
                                                 text-length="8"></span></div>
                </td>
                <td ng-class="{'has-error': item.$$stock.length && list.stock.$dirty && list.stock.$error.cbNumberRange}"><input
                  class="form-control" type="text" name="stock" ng-model="item.$$stock" range-enabled="true"
                  cb-number-range="" data-value-min="0" data-value-max="9999" placeholder="不填无限" cb-placeholder>
                </td>
                <td ng-class="{'has-error': list.saleprice.$error.cbMoneyRange}"><input class="form-control" type="text"
                                                                                        name="saleprice"
                                                                                        ng-model="item.saleprice"
                                                                                        cb-money-range=""
                                                                                        data-value-min="0"
                                                                                        range-enabled="true"
                                                                                        data-value-max="99999999"
                                                                                        placeholder="请输入零售单价"
                                                                                        cb-placeholder></td>
                <td><input class="form-control" type="text" name="" ng-model="item.skucode" placeholder="请输入条形码"
                           cb-placeholder></td>
                <td><input class="form-control" type="text" name="" ng-model="item.partscode" placeholder="请输入零件码"
                           cb-placeholder></td>
                <td>
                  <div style="width: 200px;" class="text-border" ng-if="!item.motobrandids.length"
                       cb-vehicle-select="add" handler="vm.vehicleSelect(data, item)">添加适用车型<i class="icon-search"
                                                                                               style="float: right;cursor: pointer"></i>
                  </div>
                  <div ng-if="item.motobrandids.length" cb-vehicle-show="edit" store="item.motobrandids"
                       handler="vm.vehicleShow(data, item)"></div>
                </td>
                <td>
                  <div cb-switch checkstatus="item.status" ng-click="vm.statusItem(item)"></div>
                </td>
                <td><input class="form-control" type="text" name="" ng-model="item.skudescription" placeholder="请输入描述"
                           cb-placeholder></td>
                <td>
                  <a class="text-danger" href="javascript:;" ng-click="vm.removeItem(item, $index)">删除</a>
                </td>
              </tr>
              </tbody>
            </table>
            <button class="btn btn-primary" add-skuvalues-dialog="" store="vm.skuvalues.store"
                    item-handler="vm.skuvalues.handler(data)" exist="vm.dataBase.items">添加属性
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-1 control-label">商品图片：</label>
        <div class="col-lg-11">
          <div simple-image config="vm.uploadModel.config" image="vm.dataBase.mainphoto"
               upload-handler="vm.uploadModel.handler(data)"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-1 control-label" for="goods_shelflife">保质期（天）：</label>
        <div class="col-lg-11">
          <input type="text" id="goods_shelflife" class="form-control" ng-model="vm.dataBase.shelflife" name="shelflife" cb-number-range=""  range-enabled="true"
                 data-value-min="-1" data-value-max="1000" placeholder="请输入商品保质期范围0～999天" cb-placeholder>
          <div class="alert alert-danger"
               ng-if="vm.dataBase.shelflife.length && goods.shelflife.$dirty && goods.shelflife.$error.cbNumberRange">
            请输入0～999以内的整数
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="goods_provider" class="col-lg-1 control-label">供应商：</label>
        <div class="col-lg-11">
          <input type="text" id="goods_provider" class="form-control" name="provider"
                 ng-model="vm.dataBase.provider" ng-maxlength="40" placeholder="请输入供应商名称" cb-placeholder>
          <div class="alert alert-danger" ng-if="goods.provider.$dirty && goods.provider.$error.maxlength">
            请输入长度为40以内的供应商
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="goods_providertel" class="col-lg-1 control-label">供应商电话：</label>
        <div class="col-lg-11">
          <input type="text" id="goods_providertel" class="form-control" name="providertel"
                 ng-model="vm.dataBase.providertel" ng-maxlength="40" placeholder="请输入供应商电话" cb-placeholder>
          <div class="alert alert-danger" ng-if="goods.providertel.$dirty && goods.providertel.$error.maxlength">
            请输入长度为40以内的供应商电话
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary" ng-click="vm.submitBack()" ng-disabled="goods.$invalid">&emsp;&emsp;&emsp;&emsp;保存并返回&emsp;&emsp;&emsp;&emsp;
        </button>
        <button type="button" class="btn btn-primary" ng-click="vm.submitNewCopy()" ng-disabled="goods.$invalid">&emsp;&emsp;&emsp;&emsp;保存并复制新建&emsp;&emsp;&emsp;&emsp;
        </button>
        <button type="button" class="btn btn-default"
                cb-back-button="{'name':'product.goods.list','params':{'page': 1}}" data-router="product.goods.edit">返回
        </button>
      </div>
    </form>
  </div>
</div>
