<div class="g-view">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li ui-sref-active="active"><a ui-sref="product.goods.list({page: 1, remove: 0})" class="text-muted">在售商品库</a></li>
      <li ui-sref-active="active"><a ui-sref="product.goods.list({page: 1, remove: 1})" class="text-muted">已下架</a></li>
    </ul>
    <br>
    <div cb-access-control="chebian:store:product:goods:search" simple-search="" config="vm.searchModel.config" search-handler="vm.searchModel.handler(data)"></div>
    <div ng-if="vm.gridModel.columns.length" simple-grid columns="vm.gridModel.columns" store="vm.gridModel.itemList"
         pagination-info="vm.gridModel.paginationinfo" loading-state="vm.gridModel.loadingState"
         config="vm.gridModel.config" sort-changed="vm.gridModel.sortChanged(data)" request-params="vm.gridModel.requestParams"
         page-changed="vm.gridModel.pageChanged(page)" select-handler="vm.gridModel.selectHandler(item)"></div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>类目</th>
            <th>编码/图片</th>
            <th>名称</th>
            <th>品牌</th>
            <th>保质期（天）</th>
            <th>序号</th>
            <th>属性</th>
            <th>零售单价（元）</th>
            <th>销量</th>
            <th>库存</th>
            <th>零件码</th>
            <th>条形码</th>
            <th>适用车型</th>
            <th>启用状态</th>
            <th>描述</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.items.items">
            <td style="vertical-align: middle;" rowspan="{{vm.items.items.length}}" ng-if="$first"><span ng-bind="vm.items.catename"></span></td>
            <td style="vertical-align: middle;" rowspan="{{vm.items.items.length}}" ng-if="$first"><p ng-bind="vm.items.code"></p>
              <span class="state-unread" style="width: 100px; height: 80px; overflow: hidden; display: inline-block;" cb-image-hover="{{item.mainphoto}}"><img ng-src="{{vm.items.mainphoto}}?x-oss-process=image/resize,w_150" alt=""></span></td>
            <td style="vertical-align: middle;" rowspan="{{vm.items.items.length}}" ng-if="$first"><span class="state-unread" cb-truncate-text="{{vm.items.productname}}" text-length="10"></span></td>
            <td style="vertical-align: middle;" rowspan="{{vm.items.items.length}}" ng-if="$first"><span class="state-unread" ng-bind="vm.items.cnname"></span></td>
            <td style="vertical-align: middle;" rowspan="{{vm.items.items.length}}" ng-if="$first"><span class="state-unread" ng-bind="vm.items.shelflife"></span></td>
            <td><span ng-bind="$index+1"></span></td>
            <td><span class="state-unread" ng-bind="item.skuvalues | skuvaluesFilter: 10"></span></td>
            <td><span class="state-unread" ng-bind="item.saleprice"></span> <span cb-access-control="chebian:store:product:goods:edit" simple-editable="money" editor="item.saleprice" editor-handler="vm.gridModel2.editorhandler(data, item, 'saleprice')"></span></td>
            <td><span class="state-unread"><span ng-bind="item.skusalenum"></span>件</span></td>
            <td><span class="state-unread"><span ng-bind="item.$$stockShow"></span>件</span> <span cb-access-control="chebian:store:product:goods:edit" simple-editable="int" editor="item.$$stock" data-placeholder="库存" editor-handler="vm.gridModel2.editorhandler(data, item, 'stock')"></span></td>
            <td><span ng-bind="item.partscode"></span></td>
            <td><span class="state-unread" ng-bind="item.skucode"></span></td>
            <td>使用车型</td>
            <td><div cb-switch checkstatus="item.status" cb-access-control="chebian:store:product:goods:edit"
                     ng-click="vm.statusItem(item)"></div><div cb-switch checkstatus="item.status" cb-access-control="!chebian:store:product:goods:edit"></div></td>
            <td><span ng-bind="item.skudescription"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
