<div class="g-view">
    <div class="container-fluid">
        <h2>添加编辑服务</h2>
        <hr>
        <form class="form-horizontal" autocomplete="off" name="goods" role="form" novalidate  ng-if="vm.isLoadData">
        <h3>基本信息</h3>
        <hr>
          <div class="form-group" ng-if="vm.isChange">
            <label class="col-sm-2 control-label">商品编码：</label>
            <div class="col-sm-7">
              <p class="h4" ng-bind="vm.dataBase.productid"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 项目类型：</label>
            <div class="col-sm-7">
              <div ng-if="!vm.isChange">
                  <input type="hidden" name="hao" ng-required="true" ng-model="vm.selectModel.select">
                  <div simple-select config="vm.selectModel.config" store="vm.selectModel.store" select="vm.selectModel.select" select-pre-handler="vm.selectModel.handler(data)"></div>
              </div>
              <p ng-if="vm.isChange" class="h4" ng-bind="vm.dataBase.productcategory"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 项目名称：</label>
            <div class="col-sm-7">
              <div ng-if="!vm.isChange">
                <div ng-if="!vm.isAttributesetLoad">
                  <p class="h4">请先选择项目类型</p>
                </div>
                <div ng-if="vm.isAttributesetLoad">
                  <input type="hidden" name="brand" ng-required="true" ng-model="vm.dataBase.brandid">
                  <div simple-select config="vm.brandModel.config" store="vm.brandModel.store" select="vm.brandModel.select" select-pre-handler="vm.brandModel.handler(data)"></div>
                  <p class="text-warning" ng-if="!vm.dataBase.brandid">品牌是必选的</p>
                </div>
              </div>
              <p ng-if="vm.isChange" class="h4" ng-bind="vm.dataBase.brandname"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 规格：</label>
            <div class="col-sm-7">
              <div ng-if="!vm.isAttributesetLoad">
                <p class="h4">请先选择项目名称</p>
              </div>
              <div class="row form-group" ng-repeat="item in vm.dataBase.$size" id="{{item.$$hashKey}}" ng-if="vm.isAttributesetLoad">
                <div class="clearfix">
                  <div class="col-sm-5">
                    <div simple-select config="item.sku.$config" store="item.sku.$store" select="item.sku.select" select-pre-handler="item.sku.$handler(data)"></div>
                  </div>
                  <div class="col-sm-5">
                    <div simple-select config="item.skuid.$config" store="item.skuid.$store" select="item.skuid.select" select-pre-handler="item.skuid.$handler(data)"></div>
                  </div>
                  <div class="col-sm-2">
                    <button ng-click="vm.changeSize($index,item.sku.select, true)"  ng-if="vm.skuDataLength">+</button>

                    <button ng-click="vm.changeSize($index,item.sku.select, false)" ng-if="vm.dataBase.$size.length > 1">-</button>
                  </div>
                </div>
                <p class="text-warning col-sm-12" ng-if="!item.skuid.select">规格对应属性值一定要选</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 服务状态：</label>
            <div class="col-sm-7">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" ng-model="vm.dataBase.status" value="0">
                  暂停服务
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" ng-model="vm.dataBase.status" value="1">
                  正常服务
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">商品简介：</label>
            <div class="col-sm-7">
              <div text-editor="" editor="vm.dataBase.abstracts" data-max-length="30" data-filter=""></div>
            </div>
          </div>
        <h3>报价规格</h3>
        <hr>
        <div ng-if="vm.gridModel.columns.length" simple-grid columns="vm.gridModel.columns" store="vm.gridModel.itemList" pagination-info="vm.gridModel.paginationinfo" loading-state="vm.gridModel.loadingState" config="vm.gridModel.config" sort-changed="vm.gridModel.sortChanged(dtat)" page-changed="vm.gridModel.pageChanged(page)"></div>
        <button product-server-goods-dialog="">选择车型</button>
        <div class="text-center">
          <button type="button" class="btn btn-primary" ng-click="vm.submit()" ng-disabled="goods.$invalid">{{vm.isChange ? "修改" : "添加"}}</button>
        </div>
        </form>
    </div>
</div>
