<div>
  <div class="viewFramework-topbar" ng-if="(!view.config.disableNavigation && !view.config.hideTopbar)">
    <div cb-shop-topbar topbar-nav-links="view.config.topbarNavLinks"></div>
  </div>
  <div class="viewFramework-sidebar" ng-if="(!view.config.disableNavigation && !view.config.hideSidebar)">
    <div cb-shop-sidebar type="{{view.config.sidebar}}" class="sidebar-content"></div>
  </div>
  <div class="viewFramework-preference-nav" cb-shop-preferencenav></div>
  <div class="viewFramework-main">
    <div class="viewFramework-scroll-wrap">
      <div class="viewFramework-scroll" ui-view id="j-viewFramework-scrollTop"></div>
    </div>
  </div>
</div>
