$mini: 50px;
$full: 180px;
body{
  position: relative;
}

.viewFramework-main {
  position: relative;
  margin-left: 180px;
  padding-top: 106px;
  min-height: 500px;
}

.viewFramework-scroll-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: auto;
  background: #fff;
}

.viewFramework-scroll {
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.viewFramework-topbar-hide {
  .viewFramework-main {
    padding: 0;
  }
}

.viewFramework-sidebar-hide {
  .viewFramework-scroll-wrap {
    margin-left: 0;
  }
  .viewFramework-preference-nav ul {
    margin-left: 0;
  }
}

.viewFramework-sidebar-mini {
  .viewFramework-scroll-wrap {
    margin-left: $mini;
  }
  .viewFramework-preference-nav ul {
    margin-left: $mini;
  }
}

.viewFramework-sidebar-full {
  .viewFramework-scroll-wrap {
    margin-left: $full;
  }
  .viewFramework-preference-nav ul {
    margin-left: $full;
  }
}

.viewFramework-body, .g-view {
  padding: 40px;
}
