.pagination-info{
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  margin: 20px 0;
  line-height: 34px;
  padding: 0px 16px;
  color: #888;
}
.pagination-goto-page{
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  input{
    display: inline-block;
    vertical-align: top;
    width: 40px;
    padding-right: 5px;
  }
  button{
    vertical-align: top;
    padding: 6px 8px;
    margin-left: 6px;
  }
}
.gridFoot{
  height: 80px;
}
.gridSection{
  width: 100%;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
.table > thead > tr > th {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.table > tbody > tr > td{
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
.simple-grid-tfoot-batch-warp{
  padding-top: 20px;
}
