<div class="day">
  <table class="grid">
    <thead>
    <tr>
      <th><button class="btn btn-default" ng-click="move(-1)">&lt;</button></th>
      <th colspan="5"><button class="btn btn-default" ng-click="toggleMode(1)"><strong ng-bind="title"></strong></button></th>
      <th><button class="btn btn-default" ng-click="move(1)">&gt;</button></th>
    </tr>
    <tr>
      <th ng-repeat="label in weekList track by $index" bindonce><small bo-text="label"></small></th>
    </tr>
    </thead>
    <tbody dg-click="select(cols, $event)" selector="button">
    <tr ng-repeat="row in rows track by $index">
      <td ng-repeat="cols in row track by $index"><button class="btn btn-default" ng-class="{'btn-info': cols.current, 'btn-success': cols.selected, 'active': cols.secondary}">
        <span><strong ng-bind="cols.label"></strong></span><br>
        <span><small ng-bind="cols.lunar"></small></span>
      </button></td>
    </tr>
    </tbody>
  </table>
</div>
