<ol class="k-breadcrumb">
  <li><a ui-sref="finance.journal.list({page:1})">财务管理</a></li>
  <li><a ui-sref="finance.debitcard.list({page:1})">储值卡账单</a></li>
  <li class="active">储值卡详情</li>
</ol>
<div class="g-view">
  <div class="container-fluid">
    <div cb-access-control="chebian:store:finance:debitcard:view" simple-search="" config="vm.searchModel.config" search-handler="vm.searchModel.handler(data)"></div>
    <div ng-if="vm.userModel">
      {{vm.userModel}}
    </div>
    <div ng-if="vm.gridModel.columns.length" simple-grid columns="vm.gridModel.columns" store="vm.gridModel.itemList" pagination-info="vm.gridModel.paginationinfo" loading-state="vm.gridModel.loadingState" config="vm.gridModel.config"></div>
    <div class="f-tac">
      <button type="button" class="btn btn-default" cb-back-button="{'name':'finance.debitcard.list','params':{'page': 1}}" data-router="finance.debitcard.detail">返回</button>
    </div>
  </div>
</div>
