<div class="g-view">
  <div class="container-fluid">
    <h2>服务订单详情</h2>
    <hr>
    <div class="form-horizontal">
      <h3>服务订单</h3>
      <hr>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="col-md-2 control-label">订单编号：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.orderid"></p>
          </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-2 control-label">订单金额：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.totalcost | moneyFilter"></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="col-md-2 control-label">工时总计：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.totalsale | moneyFilter"></p>
          </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-2 control-label">商品总计：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.totalcost | moneypushFilter : vm.dataBase.order.totalsale"></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="col-md-2 control-label">客户姓名：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.realname"></p>
          </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-2 control-label">手机号码：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.mobile"></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label class="col-md-1 control-label">车辆信息：</label>
          <div class="col-md-11">
            <p class="text-border" ng-bind="vm.dataBase.order.motormodel"></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="col-md-2 control-label">车牌号：</label>
          <div class="col-md-10">
              <p class="text-border" ng-bind="vm.dataBase.order.licence"></p>
          </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-2 control-label">VIN码：</label>
          <div class="col-md-10">
              <p class="text-border" ng-bind="vm.dataBase.order.vin"></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="col-md-2 control-label">发动机号：</label>
          <div class="col-md-10">
              <p class="text-border" ng-bind="vm.dataBase.order.enginenumber"></p>
          </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-2 control-label">总里程数：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.enginenumber"></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="col-md-2 control-label">订单状态：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.status | formatStatusFilter : 'server_order_status'"></p>
          </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-2 control-label">预约到店：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.meettime | date : 'yyyy-MM-dd HH:mm:ss'"></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="col-md-2 control-label">付款状态：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.paystatus | formatStatusFilter : 'server_order_paystatus' "></p>
          </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-2 control-label">付款时间：</label>
          <div class="col-md-10">
            <p class="text-border" ng-bind="vm.dataBase.order.paytime | date : 'yyyy-MM-dd HH:mm:ss'"></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label class="col-md-1 control-label">订单进度：</label>
          <div class="col-md-11">
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: 20%"></div>
              <div class="progress-bar progress-bar-info" style="width: 20%" ng-if="vm.dataBase.order.motortime"></div>
              <div class="progress-bar progress-bar-warning" style="width: 20%" ng-if="vm.dataBase.order.finishtime"></div>
              <div class="progress-bar progress-bar-danger" style="width: 20%" ng-if="vm.dataBase.order.paytime"></div>
              <div class="progress-bar progress-bar-success" style="width: 20%" ng-if="vm.dataBase.order.overtime"></div>
            </div>
            <div class="pull-left" style="width: 20%">
              <p ng-bind="vm.dataBase.order.createtime | date : 'yyyy-MM-dd HH:mm:ss'"></p>
              新建订单(线上)
            </div>
            <div class="pull-left"  style="width: 20%" ng-if="vm.dataBase.order.motortime">
              <p ng-bind="vm.dataBase.order.motortime | date : 'yyyy-MM-dd HH:mm:ss'"></p>
              到店接车
            </div>
            <div  class="pull-left" style="width: 20%" ng-if="vm.dataBase.order.finishtime">
              <p ng-bind="vm.dataBase.order.finishtime | date : 'yyyy-MM-dd HH:mm:ss'"></p>
              服务完成
            </div>
            <div  class="pull-left" style="width: 20%" ng-if="vm.dataBase.order.paytime">
              <p ng-bind="vm.dataBase.order.paytime | date : 'yyyy-MM-dd HH:mm:ss'"></p>
              支付完成（线上）
            </div>
            <div  class="pull-left" style="width: 20%" ng-if="vm.dataBase.order.overtime">
              <p ng-bind="vm.dataBase.order.overtime | date : 'yyyy-MM-dd HH:mm:ss'"></p>
              订单完成
            </div>
          </div>
        </div>
      </div>
      <h3>子订单详情</h3>
      <hr>
      <div ng-if="vm.gridModel.columns.length" simple-grid columns="vm.gridModel.columns" store="vm.gridModel.itemList" pagination-info="vm.gridModel.paginationinfo" loading-state="vm.gridModel.loadingState" config="vm.gridModel.config" page-changed="vm.gridModel.pageChanged(page)"></div>
      <div class="text-center">
        <button type="button" class="btn btn-default" cb-back-button="{'name':'trade.sorder.list','params':{'page': 1}}" data-router="trade.sorder.detail">返回</button>
      </div>
    </div>
  </div>
</div>
