.trade_sorder_select_user_dialog{
  .modal-dialog{
    width: 1000px;
    .searchSection .control-label{
      white-space: nowrap;
    }
    .simple-grid-none-data{
      height: 300px;
    }
  }
}


.trade_sorder_add_items_dialog{
  .modal-dialog{
    width: 800px;
    .tab{
      position: relative;
      padding: 0;
      height: 40px;
      list-style: none;
      border: 1px solid #ccc;
      border-bottom: none;
      margin-bottom: 0;
      &:before{
        content: "";
        position: absolute;
        z-index: 5;
        width: 1px;
        left: 50%;
        margin-left: -1px;
        height: 40px;
        background-color: #ccc;
      }
      li{
        float: left;
        width: 50%;
        height: 39px;
        line-height: 39px;
        text-align: center;
        background-color: #efefef;
        cursor: pointer;
        &.active{
          position: relative;
          z-index: 1;
          height: 40px;
          background-color: #fff;
        }
      }
    }
    .box{
      border-top: 1px solid #ccc;
      padding-top: 15px;
      .form-horizontal{
        width: 500px;
        margin: 0 auto;
        .form-control{
          width: 400px;
          display: inline-block;
          vertical-align: top;
        }
        .btn{
          width: 80px;
        }
      }
    }
    .searchSection .control-label{
      white-space: nowrap;
    }
    .simple-grid-none-data{
      height: 300px;
    }
  }
}

.trade_sorder_add_motors_dialog{
  .modal-dialog{
    width: 1000px;
    .tab{
      position: relative;
      padding: 0;
      height: 40px;
      list-style: none;
      border: 1px solid #ccc;
      border-bottom: none;
      margin-bottom: 0;
      &:before{
        content: "";
        position: absolute;
        z-index: 5;
        width: 1px;
        left: 50%;
        margin-left: -1px;
        height: 40px;
        background-color: #ccc;
      }
      li{
        float: left;
        width: 50%;
        height: 39px;
        line-height: 39px;
        text-align: center;
        background-color: #efefef;
        cursor: pointer;
        &.active{
          position: relative;
          z-index: 1;
          height: 40px;
          background-color: #fff;
        }
      }
    }
    .box{
      border-top: 1px solid #ccc;
      padding-top: 15px;
      .form-horizontal{
        width: 500px;
        margin: 0 auto;
        .form-control{
          width: 400px;
          display: inline-block;
          vertical-align: top;
        }
        .btn{
          width: 80px;
        }
      }
    }
    .searchSection .control-label{
      white-space: nowrap;
    }
    .simple-grid-none-data{
      height: 300px;
    }
  }
}
