<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" z-index="-1" ng-click="close(false)" aria-hidden="true">&times;</button>
    <h5 class="modal-title">选择会员</h5>
  </div>
  <div class="modal-body">
      <div class="alert alert-warning" ng-if="gridSearch.tips">请先输入用户姓名或者联系方式再点击搜索</div>
      <div simple-search config="gridSearch.config" search-handler="gridSearch.handler(data)" class="row"></div>
      <div ng-if="gridModel.columns.length" simple-grid columns="gridModel.columns" store="gridModel.itemList" pagination-info="gridModel.paginationinfo" loading-state="gridModel.loadingState" config="gridModel.config" page-changed="gridModel.pageChanged(page)"></div>
  </div>
</div>
