<ol class="k-breadcrumb">
  <li><a ui-sref="user.customer.list({page:1})">会员中心</a></li>
  <li class="active">会员管理</li>
</ol>
<div class="g-view">
  <div class="container-fluid">
    <div class="w-tabs">
      <ul class="tabs-nav f-cb">
        <li><a ui-sref="user.customer.list({page:1})" class="text-muted">按会员</a></li>
        <li class="active"><a href="javascript:;" class="text-muted text-success">按车辆</a></li>
      </ul>
    </div>
    <br />
    <div cb-access-control="chebian:store:user:customer:search" simple-search config="vm.searchModel.config" search-handler="vm.searchModel.handler(data)"></div>
    <div ng-if="vm.gridModel.columns.length" simple-grid columns="vm.gridModel.columns" store="vm.gridModel.itemList" pagination-info="vm.gridModel.paginationinfo" loading-state="vm.gridModel.loadingState" config="vm.gridModel.config" sort-changed="vm.gridModel.sortChanged(dtat)" page-changed="vm.gridModel.pageChanged(page)" select-handler="vm.gridModel.selectHandler(item)" request-params="vm.gridModel.requestParams"></div>

    <div ng-if="vm.gridModel2.columns.length && vm.gridModel.itemList" simple-grid columns="vm.gridModel2.columns" store="vm.gridModel2.itemList" loading-state="vm.gridModel2.loadingState" config="vm.gridModel2.config"></div>
  </div>
</div>

