<div class="g-view">
  <div class="container-fluid">
    <ul class="list-inline">
      <li><a ui-sref="user.customer.list({page:1})" class="text-muted">按会员</a></li>
      <li><span class="text-muted text-success">按车辆</span></li>
    </ul>
    <div ng-if="vm.gridModel.columns.length" simple-grid columns="vm.gridModel.columns" store="vm.gridModel.itemList" pagination-info="vm.gridModel.paginationinfo" loading-state="vm.gridModel.loadingState" config="vm.gridModel.config" sort-changed="vm.gridModel.sortChanged(dtat)" page-changed="vm.gridModel.pageChanged(page)" select-handler="vm.gridModel.selectHandler(item)"></div>

    <div ng-if="vm.gridModel2.columns.length" simple-grid columns="vm.gridModel2.columns" store="vm.gridModel2.itemList" loading-state="vm.gridModel2.loadingState" config="vm.gridModel2.config"></div>
  </div>
</div>

