.viewFramework-preference-nav{
  position: absolute;
  top:0;
  right: 0;
  z-index: 10;
  height: 40px;
  background-color: #1a1a1a;
  ul{

  }
  li{
    position: relative;
    float: left;
    list-style: none;
    background-color: #333;
    margin-right: 1px;
    &:hover{
      background-color: #333;
    }
    a{
      display: block;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
      span{
        display: inline-block;
        vertical-align: top;
        width: 120px;
        min-width: 40px;
        margin: 0 30px 0 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

      }
    }
    .close{
      position: absolute;
      right: 10px;
      top: 8px;
      font-size: 24px;
      font-weight: 100;
      line-height: 24px;
      color: #fff;
      text-shadow: none;
      opacity: 1;
      filter: alpha(opacity=100);
    }
    &.active{
      background-color: #fe771d;
    }
  }
}
.viewFramework-sidebar-mini{
  .viewFramework-preference-nav{
    left:30px;
  }
}
.viewFramework-sidebar-full{
  .viewFramework-preference-nav{
    left:200px;
  }
}
