<div>
  <div class="simple-search-radio">
    <div simple-radio="" ng-repeat="list in items.list" radio-label="list.label" radio-checked="list.checked" radio-value="list.id" on-change="handler(data, list)"></div>
  </div>
  <div class="radio-inline" ng-if="searchParams[items.name] == -2">
    <div class="f-fl" style="width: 200px;">
      <div cb-datepicker="" is-open="items.start.opened" datepicker-options="items.start.config" datepicker-open="items.start.open()" datepicker-model="searchParams[items.start.name]" datepicker-handler="items.start.handler(data, searchParams[items.end.name])"></div>
    </div>
    <div class="f-fl lineH3">&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;</div>
    <div class="f-fl" style="width: 200px;">
      <div cb-datepicker="" is-open="items.end.opened" datepicker-options="items.end.config" datepicker-open="items.end.open()" datepicker-model="searchParams[items.end.name]" datepicker-handler="items.end.handler(data, searchParams[items.start.name])"></div>
    </div>
  </div>
</div>
