<div>
  <div class="searchSection">
    <form class="form-horizontal f-cb" autocomplete="off" ng-submit="setSearch()">
      <div class="form-group">
        <div class="pull-left" style="width: 400px;">
          <input type="text" name="keyword" class="form-control" ng-model="searchParams.keyword" placeholder="{{config.placeholder}}">
          <span><i></i></span>
        </div>
        <div class="pull-left" style="width: 200px;">
          <span class="more" ng-click="showMore = !showMore">更多 <i></i></span>
        </div>

      </div>
      <div class="form-group" ng-repeat="item in items" ng-if="showMore">
        <label class="col-sm-1 control-label">{{item.label}}：</label>
        <div class="col-sm-9">
          <div class="list" ng-if="!item.custom">
            <div class="radio-inline" ng-repeat="list in item.list">
              <label>
                <input type="radio" name="{{item.name}}" ng-model="searchParams[item.name]" ng-value="list.id">
                {{list.label}}
              </label>
            </div>
          </div>
          <div class="list" ng-if="item.custom">
            <div class="radio-inline" ng-repeat="list in item.list">
              <label>

                <input type="radio" name="{{item.name}}" ng-model="searchParams[item.name]" ng-value="list.id"
                       class="ng-pristine ng-valid">
                {{list.label}}
              </label>
            </div>
            <div class="radio-inline" style="padding-top: 0; margin-top: -2px;" ng-if="searchParams[item.name] == -2 && item.type == 'int'">
              <div class="pull-left" style="width: 200px;">
                <input type="text" class="form-control" name="{{item.start.name}}" ng-model="searchParams[item.start.name]">
              </div>
              <div class="pull-left">&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;</div>
              <div class="pull-left" style="width: 200px;">
                <input type="text" class="form-control" name="{{item.end.name}}" ng-model="searchParams[item.end.name]">
              </div>
            </div>
            <div class="radio-inline" style="padding-top: 0; margin-top: -2px;" ng-if="searchParams[item.name] == -2 && item.type == 'money'">
              <div class="pull-left" style="width: 200px;">
                <input type="text" class="form-control" name="{{item.start.name}}" ng-model="searchParams[item.start.name]">
              </div>
              <div class="pull-left">&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;</div>
              <div class="pull-left" style="width: 200px;">
                <input type="text" class="form-control" name="{{item.end.name}}" ng-model="searchParams[item.end.name]">
              </div>
            </div>
            <div class="radio-inline" style="padding-top: 0; margin-top: -2px;" ng-if="searchParams[item.name] == -2 && item.type == 'date'">
              <div class="pull-left" style="width: 200px;">
                <div cb-datepicker="" datepicker-options="item.start.config" datepicker-model="searchParams[item.start.name]"></div>
              </div>
              <div class="pull-left">&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;</div>
              <div class="pull-left" style="width: 200px;">
                <div cb-datepicker="" datepicker-options="item.end.config" datepicker-model="searchParams[item.end.name]"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="text-center">
          <button type="submit" style="width: 300px;" class="btn btn-success">查询</button>
        </div>
      </div>
    </form>
  </div>
</div>
