<div>
    <div class="sidebar-inner" ng-if="loadingState">
        <div class="sidebar-fold" ng-class="{'icon-unfold': !isSidebarFold,'icon-fold':isSidebarFold}" ng-click="toggleSidebarStatus()">
            <span class="icon">
              <span class="line"></span>
              <span class="piece"></span>
              <span class="arrow"></span>
            </span>
        </div>
        <div class="sidebar-nav main-nav" ng-repeat="group in navConfig" ng-class="{'sidebar-nav-fold':group.folded}">
            <div class="sidebar-title" ng-click="toggleFoldStatus($index, group.folded)">
                <div class="sidebar-title-inner" sidebar-group-tooltip states="isSidebarFold" group="group">
                    <div class="nav-icon sidebar-trans"><span class="icon-sidebar {{group.icon}}"></span></div>
                    <span class="sidebar-title-text" ng-bind="group.menuname"></span>
                    <span class="icon-sidebar icon-arrow-down"></span>
                </div>
            </div>
            <ul class="sidebar-trans">
                <li ng-repeat="item in group.items track by $index" class="nav-item" ng-class="{'active':$state.includes(item.router)}">
                    <a ui-sref="{{item.uisref}}" class="sidebar-trans" sidebar-tooltip="{{type =='mini'?item.menuname:''}}" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
                        <span class="nav-title" style="padding-left: 70px;">{{item.menuname}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-loading" ng-if="loadingState"></div>
</div>
