<ol class="k-breadcrumb">
  <li><a ui-sref="trade.order.list({page:1})">交易管理</a></li>
  <li class="active">订单</li>
</ol>
<br>
<div class="g-view trade-porder">
  <div class="container-fluid" style="min-width: 1213px">
    <div cb-access-control="chebian:store:trade:porder:search" simple-search="" config="vm.searchModel.config" search-handler="vm.searchModel.handler(data)" class="b-tab-bor"></div>
    <div ng-if="vm.gridModel.columns.length" simple-grid columns="vm.gridModel.columns" store="vm.gridModel.itemList"
         pagination-info="vm.gridModel.paginationinfo" loading-state="vm.gridModel.loadingState"
         config="vm.gridModel.config" sort-changed="vm.gridModel.sortChanged(data)" request-params="vm.gridModel.requestParams"
         page-changed="vm.gridModel.pageChanged(page)" select-handler="vm.gridModel.selectHandler(item)"></div>
    <div ng-if="vm.ordersDetails" ng-if="vm.gridModel.itemList">
      <div class="f-tac" ng-init="vm.toggleDetail1 = true">
        <button class="u-btn u-btn-sm order-details" ng-click="vm.toggleDetail1 = !vm.toggleDetail1">订单详情
            <i class="u-caret-down" ng-class="{'u-caret-up': !vm.toggleDetail1}"></i>
        </button>
      </div>
      <div style="vertical-align: top;" ng-show="vm.toggleDetail1">
        <table class="w-table-details" style="margin:56px 0 66px;">
          <thead>
          <tr>
            <th style="min-width: 160px">服务项目</th>
            <th style="min-width: 220px">商品材料</th>
            <th style="min-width: 120px">工时费</th>
            <th style="min-width: 140px">商品材料费</th>
            <th style="min-width: 140px">合计</th>
            <th style="min-width: 100px">施工员</th>
            <th style="min-width: 150px">备注</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in vm.ordersDetails.ordersjson.details" bindonce>
            <td><span class="state-unread" bo-text="item.itemname"></span></td>
            <td>
              <ul class="list-unstyled">
                <li ng-repeat="key in item.products">
                  <span class="state-unread u-truncate-text" bo-text="key.itemname"></span>
                </li>
              </ul>
            </td>
            <td>
              &yen; <span bo-bind="item.price | number: '2'"></span> × <span bo-bind="item.num"></span>
            </td>
            <td>
              <ul class="list-unstyled">
                <li ng-repeat="key in item.products">
                  &yen; <span bo-bind="key.price | number: '2'"></span> × <span bo-bind="key.num"></span>
                </li>
              </ul>
            </td>
            <td><span bo-bind="item.$totalPrice | number: '2'"></span></td>
            <td><span class="state-unread" cb-truncate-text="{{item.servicername}}" text-length="6"></span></td>
            <td><span class="state-unread" cb-truncate-text="{{item.remark}}" text-length="9"></span></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>



<script type="text/ng-template" id="orderUserTemplate.html">
  <div class="showCont" style="width:260px">
    <dl>
      <dt><img width="90px" bo-src-i="{{templateData.avatar}}" alt=""></dt>
      <dd>
        <h3><span bo-text="templateData.realname"></span></h3>
        <p><span bo-text="templateData.mobile"></span></p>
      </dd>
    </dl>
    <ul>
      <li>
        <label class="f-fl">关注状态：</label>
        <p class="f-fl"><span bo-text="templateData.followed | formatStatusFilter : 'followed'"></span></p>
      </li>
      <li>
        <label class="f-fl">公司名称：</label>
        <p class="f-fl"><span bo-text="templateData.companyname"></span></p>
      </li>
      <li>
        <label class="f-fl">备注：</label>
        <p class="f-fl"><span bo-text="templateData.remark"></span></p>
      </li>
    </ul>
  </div>
</script>
<script type="text/ng-template" id="orderCarTemplate.html">
  <div class="showCont">
    <dl>
      <dt><img width="90px" bo-src-i="{{templateData.logo}}" alt=""></dt>
      <dd>
        <h3><span bo-text="templateData.model"></span></h3>
        <p><span bo-text="templateData.licence"></span></p>
      </dd>
    </dl>
    <ul>
      <li class="f-cb">
        <label class="f-fl">VIN码：</label>
        <p class="f-fl"><span bo-text="templateData.vin"></span></p>
      </li>
      <li class="f-cb">
        <label class="f-fl">发动机号：</label>
        <p class="f-fl"><span bo-text="templateData.enginenumber"></span></p>
      </li>
      <li class="f-cb">
        <label class="f-fl">前轮胎：</label>
        <p class="f-fl"><span bo-text="templateData.frontwheel"></span></p>
      </li>
      <li class="f-cb">
        <label class="f-fl">后轮胎：</label>
        <p class="f-fl"><span bo-text="templateData.rearwheel"></span></p>
      </li>
      <li class="f-cb">
        <label class="f-fl">购车日期：</label>
        <p class="f-fl"><span bo-text="templateData.buydate"></span></p>
      </li>
      <li class="f-cb">
        <label class="f-fl">当前里程：</label>
        <p class="f-fl"><span bo-if="templateData.totalmile != undefined"><span bo-text="templateData.totalmile"></span> km</span></p>
      </li>
      <li class="f-cb">
        <label class="f-fl">距下次保养：</label>
        <p><span bo-text="templateData.countdownmiles"></span> km</p>
      </li>
      <li class="f-cb">
        <label class="f-fl">故障码：</label>
        <p class="f-fl"><span><span bo-if="!templateData.errorcode" class="text-success">无</span>
                    <a ng-href="templateData.$$errorcode" bo-if="templateData.errorcode"
                       bo-text="templateData.errorcode" class="text-danger"></a></span></p>
      </li>
      <li class="f-cb">
        <label class="f-fl">问题描述：</label>
        <p class="f-fl"><span bo-text="templateData.problem"></span></p>
      </li>
    </ul>
  </div>
</script>
