<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" z-index="-1" ng-click="close(false)"
            aria-hidden="true">&times;</button>
    <h5 class="modal-title">订单收款</h5>
  </div>
  <div class="modal-body form-horizontal">
    <div class="form-group clearfix">
      <label class="col-sm-3 control-label">商品/材料合计：</label>
      <div class="col-sm-8">
        <div class="text-border">
          <span ng-bind="item.psaleprice | number : 2"></span> 元
        </div>
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-3 control-label">工时费合计：</label>
      <div class="col-sm-8">
        <div class="text-border">
          <span ng-bind="item.ssaleprice | number : 2"></span> 元
        </div>
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-3 control-label">总计：</label>
      <div class="col-sm-8">
        <div class="text-border">
          <span ng-bind="item.$totalprice | number : 2"></span> 元
        </div>
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-3 control-label">优惠方式：</label>
      <div class="col-sm-8">
        <div class="text-border">
          <span ng-bind="item.discounttype | formatStatusFilter : 'discounttype'"></span>
        </div>
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-3 control-label"><i cb-popover="" popover-placement="left" popover-template-id="orderProductTemplate.html" popover-animation="false">!</i> 优惠金额：</label>
      <div class="col-sm-8">
        <div class="text-border">
          <span ng-bind="item.preferentialprice | number : 2"></span> 元
        </div>
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-3 control-label"><i cb-popover="" popover-placement="left" popover-template-id="orderProductTemplate2.html" popover-animation="false">!</i> 应收金额：</label>
      <div class="col-sm-8">
        <div class="text-border">
          <span ng-bind="item.arrearsprice | number : 2"></span> 元
        </div>
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-3 control-label">支付方式：</label>
      <div class="col-sm-8">
        <button class="btn active" ng-class="{'btn-primary':type.isBalance, 'btn-default': !type.isBalance, 'btn-success': type.current}" ng-disabled="!type.isBalance" style="margin-right: 10px;" ng-repeat="type in paytype" ng-click="setPaytype(type)"><span ng-bind="type.label"></span> <small ng-if="!type.isBalance" class="text-danger">余额不足</small></button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="alert alert-danger" ng-if="interceptor">
      <p>您确认收款吗？</p>
    </div>
    <div class="inline-block margin-right" ng-if="interceptor">
      <button class="btn btn-warning" ng-click="interceptorConfirm()">客户已付款</button>
      <button class="btn btn-default" ng-click="close(false)">客户尚未付款</button>
    </div>
    <div class="inline-block margin-right" ng-if="!interceptor">
      <button class="btn btn-primary" ng-click="confirm()" ng-disabled="price.$invalid">确定</button>
      <button class="btn btn-default" ng-click="close(false)">取消</button>
    </div>
  </div>
</div>
<script type="text/ng-template" id="orderProductTemplate.html">
  <div>
    开单时，优惠金额的计算公式为：<br>
    优惠金额 = 总计 X 折扣 - 优惠金额 <br>
    当您选择无优惠时：<br>
    折扣为100%，既无折扣<br>
    优惠额度为0
  </div>
</script>
<script type="text/ng-template" id="orderProductTemplate2.html">
  <div>
    应收金额 = 总计 - 优惠金额
  </div>
</script>
