<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" z-index="-1" ng-click="close(false)"
            aria-hidden="true">&times;</button>
    <h5 class="modal-title">选择服务/项目</h5>
  </div>
  <div class="modal-body">
    <div cb-access-control="chebian:store:user:customer:search" simple-search config="searchModel.config"
         search-handler="searchModel.handler(data)"></div>
    <div style="height: 200px; overflow-y: auto; position: relative;">
      <div cb-thead-fixed></div>
      <table cb-infinite-scroll="" infinite-scroll="gridModel.nextPage()" infinite-scroll-disabled="gridModel.loadingState">
        <thead>
          <tr>
            <th>
              q1111
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in gridModel.itemList">
            <td>
              {{$index}}
              <img width="150px" height="100px"  ng-src="{{item.mainphoto}}?x-oss-process=image/resize,w_150" alt="">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <div class="inline-block margin-right">
      <button class="btn btn-default" ng-click="close(false)">取消</button>
    </div>
  </div>
</div>
