<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" z-index="-1" ng-click="close(false)"
            aria-hidden="true">&times;</button>
    <h5 class="modal-title">选择服务</h5>
  </div>
  <div class="modal-body">
    <div class="list-btns f-cb">
      <div class="btn-group f-fl">
        <button class="u-btn u-btn-default transparent u-btn-sm" ng-click="toggleTab(0)" ng-class="{'active': tabindex == 0}">常用
        </button>
        <button class="u-btn u-btn-default transparent u-btn-sm" ng-click="toggleTab(1)" ng-class="{'active': tabindex == 1}">服务库
        </button>
      </div>
      <span class="tips f-fl">服务库无对应服务？去右侧【车边库】找找看</span>
      <button class="u-btn u-btn-default transparent u-btn-sm f-fr" ng-click="toggleTab(2)" ng-class="{'active': tabindex == 2}" cb-popover="" popover-trigger="click" popover-placement="right-top"
              popover-template-id="orderTooltipServiceTemplate.html" popover-animation="false"
              popover-template-data="tooltip" content-class="order-tooltip-service">车边库
      </button>
    </div>
    <div class="list-wrap f-cb" ng-if="tabindex == 0">
      <div class="list productcommonlyused">
        <ul class="content" dg-click="productcommonlyusedHandler($event, item)" selector="li">
          <li class="f-cb" ng-repeat="item in productcommonlyused track by item.guid" bindonce ng-class="{'active': item.$folded, 'disabled': item.$disabled}" class="order-item-list">
            <span class="text f-fl" bo-text="item.itemname" bo-title="item.itemname"></span>
            <span class="price f-fr">&yen; <span bo-bind="item.price | number : 2"></span></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="list-wrap f-cb" ng-if="tabindex == 1">
      <div class="f-fl list category">
        <h3 class="title">服务类目</h3>
        <ul class="content" dg-click="categoryHandler($event, item)" selector="li">
          <li ng-repeat="item in category track by item.id" bindonce="" ng-class="{'active': item.$folded}">
            <span bo-text="item.catename"></span>
          </li>
        </ul>
      </div>
      <div class="f-fl list servicename">
        <h3 class="title">服务名称</h3>
        <ul class="content" dg-click="servicenameHandler($event, item)" selector="li">
          <li ng-repeat="item in servicename track by item.guid" bindonce="" ng-class="{'active': item.$folded}">
            <span bo-text="item.servername"></span>
          </li>
        </ul>
      </div>
      <div class="f-fl list servicespec">
        <h3 class="title">服务规格</h3>
        <ul class="content" dg-click="servicespecHandler($event, item)" selector="li">
          <li ng-repeat="item in servicespec track by item.guid" bindonce="" ng-class="{'active': item.$folded, 'disabled': item.$disabled}" class="order-item-list">
            <span class="text f-fl" bo-text="item.manualskuvalues" bo-title="item.manualskuvalues"></span>
            <span class="price f-fr">&yen; <span bo-text="item.price | number: 2"></span></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="list-wrap f-cb" ng-if="tabindex == 2">
      <div class="f-fl list category">
        <h3 class="title">服务类目</h3>
        <ul class="content" dg-click="categoryHandler($event, item)" selector="li">
          <li ng-repeat="item in category track by item.id" bindonce="" ng-class="{'active': item.$folded}">
            <span bo-text="item.catename"></span>
          </li>
        </ul>
      </div>
      <div class="f-fl list servicename">
        <h3 class="title">服务名称</h3>
        <ul class="content" dg-click="servicenameCliHandler($event, item)" selector="li">
          <li ng-repeat="item in servicename track by item.guid" bindonce="" ng-class="{'active': item.$folded}">
            <span bo-text="item.servername"></span>
          </li>
        </ul>
      </div>
      <div class="f-fl list servicespec">
        <h3 class="title">服务规格</h3>
        <ul class="content" dg-click="servicespecHandler($event, item)" selector="li">
          <li ng-repeat="item in servicespec track by item.guid" bindonce="" ng-class="{'active': item.$folded, 'disabled': item.$disabled}" class="order-item-list">
            <span class="text f-fl" bo-text="item.manualskuvalues" bo-title="item.manualskuvalues"></span>
            <span class="price f-fr">&yen; <span bo-text="item.price | number: 2"></span></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="results">
      <h3 class="title">已选择服务：</h3>
      <ul class="content" class="f-cb" bindonce="" dg-click="removeItem($event, item)" selector=".remove">
        <li ng-repeat="item in dataSources track by item.guid">
          <span bo-text="item.itemname"></span>
          <span>￥<span bo-text="item.price"></span></span>
          <span class="icon-remove_circle remove"></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <div class="inline-block f-tac">
      <button class="u-btn u-btn-primary u-btn-sm" ng-click="confirm()" ng-disabled="!dataSources.length" style="margin-right: 15px">确　定</button>
      <button class="u-btn u-btn-disabled u-btn-sm" ng-click="close(false)" style="margin-left: 15px">取　消</button>
    </div>
  </div>
</div>
<script type="text/ng-template" id="orderTooltipServiceTemplate.html">
  <p bindonce="" bo-text="templateData.title"></p>
</script>
