.viewFramework-order-user-dialog{
  .modal-dialog{
    width: 1000px;
  }
}
.viewFramework-order-service-dialog{
  .modal-dialog{
    width: 1000px;
  }
}
.viewFramework-order-product-dialog{
  .modal-dialog{
    width: 1000px;
  }
}
