<script src="../../../../../frontest/src/app/commodity/commodity.controller.js"></script>
<div class="viewFramework-vehicle-selection">
    <div>
      车款：<input type="text" name="" id="" ng-model="search.text"> <button ng-click="search.handler()">查找</button>
    </div>
    <div class="category">
      <h3>级别通用</h3>
      <ul>
        <li><input type="checkbox" name="">MPV</li>
        <li><input type="checkbox" name="">SUV</li>
        <li><input type="checkbox" name="">三厢车</li>
        <li><input type="checkbox" name="">两厢车</li>
        <li><input type="checkbox" name="">皮卡</li>
        <li><input type="checkbox" name="">客车</li>
      </ul>
    </div>
    <div>
      <div class="name">
        <dl>
          <dt><span>A</span></dt>
          <dd><label><input type="checkbox" name="">MPV</label> <span ng-click="">展开</span></dd>
          <dd></dd>
          <dd></dd>
          <dd></dd>
          <dd></dd>
          <dd></dd>
        </dl>
      </div>
      <div class="brands">

      </div>
      <div class="models">

      </div>
      <div class="brands">

      </div>
      <div class="models">

      </div>
    </div>
    <div>
      <h2>已选择适用车型：</h2>
      <hr>
      <div>

      </div>
    </div>
</div>
